NEXTAUTH_URL=https://houseoftheelect.org
NEXTAUTH_SECRET=

NEXT_PUBLIC_API_URL=https://houseoftheelect.org
NEXT_PUBLIC_SITE_TITLE=houseoftheelect

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
